name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  standard-lint-test:
    name: Lint and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --locked --group dev
      - name: Lint
        run: uv run pre-commit run --all-files
      - name: Test
        run: uv run pytest
  minimum-dependencies-test:
    name: Minimum dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v6
      - name: Install minimum dependencies
        run: uv sync --resolution lowest-direct --group dev
      - name: Test
        run: uv run pytest
  codecov:
    name: Codecov
    needs:
      - standard-lint-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install
        run: uv sync --locked --group dev
      - name: Test
        run: uv run pytest --cov=stactask --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
  docs:
    name: Docs
    needs:
      - standard-lint-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install
        run: uv sync --locked --only-group docs
      - name: Make docs
        run: cd docs && uv run make html
